[submodule "lumenite-frontend"]
	path = lumenite-frontend
	url = https://github.com/Valvillavel/lumenite-frontend.git
[submodule "lumenite"]
	path = lumenite
	url = https://github.com/Valvillavel/lumenite-backend.git
